@keyframes hideLeft {
    100% {
        animation-timing-function: ease;
        opacity: 0;
        left: -500px;
    }
}
@keyframes showLeft {
    0% {
        animation-timing-function: ease;
        opacity: 0;
        left: -500px;
    }
    100% {
        animation-timing-function: ease;
        opacity: 1;
        left: 0px;
    }
}
@keyframes hideRight {
    100% {
        animation-timing-function: ease;
        opacity: 0;
        left: 500px;
    }
}
@keyframes showRight {
    0% {
        animation-timing-function: ease;
        opacity: 0;
        left: 500px;
    }
    100% {
        animation-timing-function: ease;
        opacity: 1;
        left: 10px;
    }
}
body {
    background: #f7f7f7 none repeat scroll 0 0;
    margin: 0;
    padding: 0;
    min-width: 1330px;
}
hr {
    background: #fff none repeat scroll 0 0;
    border: 0.2px solid #fff;
    color: #fff;
}
#my_animated_element, #my_simple_animated_element {
  border: 1px dashed #ddd;
  display: block;
  margin: 0 auto;
  width: 126px;
  padding: 80px;
  background: #fff;
  position: relative;
  left: 0;
}
.showLeft {
  animation: showLeft 0.5s linear;
  animation-fill-mode: forwards;
}
.hideLeft {
  animation: hideLeft 0.5s linear;
  animation-fill-mode: forwards;
}
.hide {
  display: none !important;
}
.events {

}
.col-half {
    float: left;
    width: 50%;
}
.container {
    min-height: 268px;
    padding: 20px;
}
.container::after {
    clear: both;
    color: #fff;
    content: ".";
    display: block;
    line-height: 0;
    margin: 0;
    opacity: 0.0001;
    padding: 0;
    position: relative;
}
.events-log {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 182px;
    overflow: auto;
}
.code {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    color: #333;
    overflow: auto;
    top: 85px;
    white-space: pre;
}
.code-coment {
    color: #84e084;
}