@keyframes hideLeft {
    100% {
        animation-timing-function: ease;
        opacity: 0;
        left: -500px;
    }
}
@keyframes showLeft {
    0% {
        animation-timing-function: ease;
        opacity: 0;
        left: -500px;
    }
    100% {
        animation-timing-function: ease;
        opacity: 1;
        left: 0px;
    }
}
@keyframes hideRight {
    100% {
        animation-timing-function: ease;
        opacity: 0;
        left: 500px;
    }
}
@keyframes showRight {
    0% {
        animation-timing-function: ease;
        opacity: 0;
        left: 500px;
    }
    100% {
        animation-timing-function: ease;
        opacity: 1;
        left: 10px;
    }
}
body {
    background: #f7f7f7;
}
#my_animated_element, #my_simple_animated_element {
  border: 1px dashed #ddd;
  display: block;
  margin: 60px auto;
  width: 126px;
  padding: 80px;
  background: #fff;
  position: relative;
  left: 0;
}
.showLeft {
  animation: showLeft 0.5s linear;
  animation-fill-mode: forwards;
}
.hideLeft {
  animation: hideLeft 0.5s linear;
  animation-fill-mode: forwards;
}
.hide {
  display: none !important;
}


#buttons {
    bottom: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 30%;
}
#buttons ul {
    list-style: outside none none;
    margin: 10px;
    padding: 0;
}
#buttons .header {
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    margin: 15px 0;
}